.container {
    width: 100%;
    border-collapse: collapse;
  }
  
  .container th, .container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .container thead {
    background-color: #f2f2f2;
  }
  
  .container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .wrapper{
    margin: 15px 0px;
  }